@import url("https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Lato&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  text-align: center;
  font-family: "Caveat Brush", cursive;

  h1 {
    font-size: 3rem;
    padding: 0.8em;
  }

  form {
    margin-bottom: 3em;

    input {
      font-family: "Caveat Brush", cursive;
      font-size: 1.5rem;
      padding: 0.5em;
      border-radius: 0.5em;
      border: 2px solid black;
    }

    input[type="text"] {
      margin-right: 1em;

      &:focus {
        outline: none;
      }
    }

    input[type="submit"] {
      &:hover {
        background-color: black;
        color: gold;
        cursor: pointer;
      }
    }
  }
}

.card {
  background-color: gold;
  width: fit-content;
  padding: 3em;
  margin: 0 auto;
  border-radius: 2em;
  .card-header {
    h2 {
      font-size: 2rem;
    }

    p {
      font-size: 1.5rem;
      padding: 0.5em;
    }
  }

  .card-body {
    p {
      font-size: 1.5rem;
      color: rgb(73, 73, 73);
    }

    & > p > span {
      font-size: 2rem;
      color: black;
    }
  }
}

.error {
  font-size: 1.5rem;
}
